<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
    <meta charset="UTF-8">
    <title>Template 2</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <link rel="stylesheet" href="restaurents.css">
    <script src="restaurent1.js"></script>
    <script src="restaurent2.js"></script>


</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">toggle navigation </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
            <li class="nav navbar-nav navbar-left"><h4 style="padding-top:10px; color:White;"><b>Logo</b></h4> </li>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="active "><a class="page-scroll" href="#page-top">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                <li><a class="page-scroll" href="#Secondhead"> About Us</a></li>
                <li><a class="page-scroll" href="#thridhead">Our Staff</a></li>
                <li><a  class="page-scroll" href="#fourthhead"> Food List</a></li>
                <li><a  class="page-scroll" href="#fourthhead" data-toggle="modal" data-target="#loginModal" > log In</a></li>
                <li><a data-toggle="modal" data-target="#SignUpModal" class="page-scroll" href="#fourthhead">
                    Sign Up </a> </li>
            </ul>
        </div></div>
</nav>
<div id="SignUpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style=" background-color: #707070">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" ><div style="color:white">Sign Up Page </div></h4>
            </div>
            <div class="modal-body" style="background-color:#A8A8A8;">
                <div class="form-horizontal">
                    <form action="?" method="POST">
                        <div class="form-group">
                            <label for="username" class="col-sm-3 control-label"><div style="text-align:left;color:white;">User Name</div></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="username" name="username" placeholder="Enter User Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Email" class="col-sm-3 control-label"><div style="text-align:left;color:white;"> Email address</div></label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="Email" name="Email" placeholder="Enter Email address" required>
                            </div></div>
                        <div class="form-group">
                            <label for="Password" class="col-sm-3 control-label"><div style="text-align:left;color:white;">Password</div></label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Address" class="col-sm-3 control-label"><div style="text-align:left;color:white;"> Full Address</div></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control " id="address" name="address" placeholder="Flat No-" required>
                                <input type="text" class="form-control " id="address" name="address" placeholder="Landmark" required>
                                <input type="text" class="form-control " id="address" name="address" placeholder="Colony" required>
                                <input type="text" class="form-control " id="address" name="address" placeholder="Pin" required>
                            </div></div>
                        <div class="col-sm-8">
                        </div>
                        <input type="Submit" value="submit" class="btn btn-success btn-md"  >
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button></div>
                </form></div></div></div></div></div>

<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style=" background-color: #707070">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" ><div style="color:white">Welcome {{yourName}}</div></h4>
            </div>
            <div class="modal-body" style="background-color:#A8A8A8;">
                <div class="form-horizontal">
                    <form action="?" method="POST">
                        <div class="form-group">
                            <label for="username" class="col-sm-3 control-label"><div style="text-align:left;color:white;">User Name</div></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="username" name="username" ng-model="yourName" placeholder="Enter User Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Password" class="col-sm-3 control-label"><div style="text-align:left;color:white;">Password</div></label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
                            </div>
                        </div>
                        <div class="col-sm-8">
                        </div>
                        <input type="Submit" value="submit" class="btn btn-success btn-md"  >
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button></div>
                </form></div></div></div></div>




<header class="jumbotron">
    <img src="https://s-media-cache-ak0.pinimg.com/originals/08/72/70/087270bb7b12498ee6f12e8247fc46a1.jpg" alt="Content image" width="100%" height="350px">
</header>
<div class="container" id="Secondhead">
    <div class="row">
        <div class="col-md-7">
            <div class="padding"></div>
            <div class="padding"></div>
            <h3 class="cen"> About Us</h3>
            <h4 class="justi"> We are in the market from 2000. Now we are almost in the big cities in india like Mumbai, Pune, Delhi, Banglore and more. We always take care of our customer. We provide variety of foodsaccording to customers requirements.
                We are always trying to make improvements by adding extra facility which conforts our customer</h4>
        </div>
        <div class="col-md-5">
            <img src="Screen%20Shot%202016-09-21%20at%205.50.37%20PM.png" alt="treegragh" height="400" width="350"/>    </div>
    </div> </div>

<div class="container padding" id="thridhead">
    <div class="row">
        <h3 class="cen"> About Members Of The Company</h3>

        <div class="padding"></div>
        <div class="img img-rounded">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Flag_of_Afghanistan_(1880%E2%80%931901).svg/2000px-Flag_of_Afghanistan_(1880%E2%80%931901).svg.png">

            <div class="desc">Add a description of the image here</div></div>
        <div class="img img-rounded">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Flag_of_Afghanistan_(1880%E2%80%931901).svg/2000px-Flag_of_Afghanistan_(1880%E2%80%931901).svg.png">

            <div class="desc">Add a description of the image here</div></div>
        <div class="img img-rounded">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Flag_of_Afghanistan_(1880%E2%80%931901).svg/2000px-Flag_of_Afghanistan_(1880%E2%80%931901).svg.png">

            <div class="desc">Add a description of the image here</div></div>
        <div class="img img-rounded">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Flag_of_Afghanistan_(1880%E2%80%931901).svg/2000px-Flag_of_Afghanistan_(1880%E2%80%931901).svg.png">

            <div class="desc">Add a description of the image here</div></div>
        <div class="img img-rounded">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Flag_of_Afghanistan_(1880%E2%80%931901).svg/2000px-Flag_of_Afghanistan_(1880%E2%80%931901).svg.png">

            <div class="desc">Add a description of the image here</div></div>
        <div class="img img-rounded">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Flag_of_Afghanistan_(1880%E2%80%931901).svg/2000px-Flag_of_Afghanistan_(1880%E2%80%931901).svg.png">
            <div class="desc">Add a description of the image here</div></div>
        <div class="img img-rounded">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Flag_of_Afghanistan_(1880%E2%80%931901).svg/2000px-Flag_of_Afghanistan_(1880%E2%80%931901).svg.png">
            <div class="desc">Add a description of the image here</div></div>
        <div class="img img-rounded">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Flag_of_Afghanistan_(1880%E2%80%931901).svg/2000px-Flag_of_Afghanistan_(1880%E2%80%931901).svg.png">

            <div class="desc">Add a description of the image here</div></div>
        <div class="img img-rounded">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Flag_of_Afghanistan_(1880%E2%80%931901).svg/2000px-Flag_of_Afghanistan_(1880%E2%80%931901).svg.png">
            <div class="desc">Add a description of the image here</div></div>
        <div class="img img-rounded">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Flag_of_Afghanistan_(1880%E2%80%931901).svg/2000px-Flag_of_Afghanistan_(1880%E2%80%931901).svg.png">
            <div class="desc">Add a description of the image here</div></div>
        <div class="img img-rounded">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Flag_of_Afghanistan_(1880%E2%80%931901).svg/2000px-Flag_of_Afghanistan_(1880%E2%80%931901).svg.png">

            <div class="desc">Add a description of the image here</div></div>
        <div class="img">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Flag_of_Afghanistan_(1880%E2%80%931901).svg/2000px-Flag_of_Afghanistan_(1880%E2%80%931901).svg.png">
            <div class="desc">Add a description of the image here</div></div>
    </div>
</div>

<div class="padding" id="fourthhead"></div>
<h3 class="cen"> Menu Spacial </h3>

<div class="padding"></div>
<div class="container responsive">
    <div class="row border">

        <ul class=" nav nav-tabs width" role="tablist">
            <li role="presentation" class="active">
                <a href="#soup" aria-controls="message" role="tab" data-toggle="tab"><p class="black1">Soup</p></a>
            </li>
            <li role="presentation" class="hover">
                <a href="#salad" aria-controls="Profile" role="tab" data-toggle="tab"><p class="black1">Salad</p></a>
            </li>
            <li role="presentation" class="hover">
                <a href="#veg" aria-controls="setting" role="tab" data-toggle="tab"><p class="black1">Vegetarian Special</p></a>
            </li>
            <li role="presentation" class="hover">
                <a href="#nonveg" aria-controls="home" role="tab" data-toggle="tab"><p class="black1">Tandoori Special</p></a>
            </li>
            <li role="presentation">
                <a href="#dessert"  role="tab" data-toggle="tab"><p class="black1">Dessert</p></a>
            </li>
            <li role="presentation">
                <a href="#biryani" role="tab" data-toggle="tab"><p class="black1">Biryani</p></a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade " id="soup">
                <div class="row row-content"
                     ng-init="
                         soups=[
                         {
                           name:'Hot and sour Soup',
                           image: 'http://smithsonianapa.org/picklesandtea/wp-content/uploads/sites/14/2015/02/hot-and-sour-soup.jpg',
                           category: 'mains',
                           label:'Hot',
                           price:'120',
                           description:'Mix vegetables, chillies powder, vine cherry tomatoes, Vidalia onion, Guntur chillies and Buffalo Paneer.',
                           comment: ''
                        },
                        {
                           name:'Mushroom Soup',
                           image: 'http://cookdiary.net/wp-content/uploads/images/Mushroom-Soup_137.jpg',
                           category: 'appetizer',
                           label:'',
                           price:'110',
                           description:' French beans, mushrooms, rinse, carrots, onions, ginger and garlic, red cabbage, added green cabbage.',
                           comment: ''
                        },
                        {
                           name:'Chicken Soup',
                           image: 'http://demo.webulous.in/restaurant/wp-content/uploads/sites/5/2014/06/chickensoup.jpg',
                           category: 'appetizer',
                           label:'hot',
                           price:'200',
                           description:'onion, garlic, carrots and saute, broccoli, cauliflower, celery, tomatoes,chicken. ',
                           comment: ''
                        },
                        {
                           name:'Vegetable Soup ',
                           image: 'http://www.thecherryshare.com/pictures/vegetable-soup-224655617be9428e02a100bd85f049dad23.jpg',
                           category: 'dessert',
                           label:'',
                           price:'100',
                           description:'mix vegetable soup - light and nutritious clear soup made with mixed vegetables.',
                           comment: ''
                        }
                        ]"
                >

                    <div class="col-xs-12"><div class="padding"></div>
                        <ul class="media-list">
                            <li class="media" ng-repeat="soup in soups">
                                <div class="media-left media-middle">
                                    <a href="#" >
                                        <img class="media-object img-thumbnail"
                                             ng-src={{soup.image}} alt="hot and sour" width="100px;">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading ">{{soup.name}}
                                        <span class="label label-danger">{{soup.label}}</span>
                                        <span class="badge">{{soup.price | currency:'&#8377;'}}</span></h4>
                                    <p>{{soup.description}}</p>
                                    <p>Comment: {{soup.comment}}</p>
                                    <p>Type your comment:
                                        <input type="text" ng-model="soup.comment"></p>
                                </div>
                            </li>
                        </ul>
                    </div></div>
            </div>
            <div role="tabpanel" class="tab-pane fade in active " id="salad" >
                <div class="row row-content"
                     ng-init="
                    salads=[
                    {
                    name:'Tomato-Peach Salad:',
                    image: 'http://www.gimmesomeoven.com/wp-content/uploads/2012/07/tomato-peach-basil-salad.jpg',
                    category: '',
                    label:'New',
                    price:'160',
                    description:'Toss tomato and peach wedges with red onion slices. Drizzle with cider vinegar and olive oil; season with sugar, salt and pepper.',
                    comment: ''
                    },
                    {
                    name:' Green Cucumber Salad:',
                    image: 'https://lh4.googleusercontent.com/-VPO1krCfGK0/U7zRDv45QJI/AAAAAAAEnZs/ZbtQPMhaIqo/s800/sriracha-chinese-cucumber-salad-6.jpg',
                    category: '',
                    label:'',
                    price:'110',
                    description:' Mix red onion slices, chopped cucumber, kalamata olive halves, dill and feta. Dress with olive oil and lemon juice, season with salt and pepper.',
                    comment: ''
                    },
                    {
                    name:'Tomatoes with Mint Salad',
                    image: 'http://www.sippitysup.com/wp-content/uploads/drupal-images/purslanesaladweb.jpg',
                    category: 'Salad',
                    label:'',
                    price:'200',
                    description:'Sprinkle heirloom tomato chunks with salt, pepper and sliced shallots with fresh mint; drizzle with olive oil and white wine vinegar.',
                    comment: ''
                    },
                    {
                    name:'Oranges with Mozzarella Salad ',
                    image: 'http://www.bbcgoodfood.com/sites/default/files/recipe_images/mozzarella.jpg',
                    category: '',
                    label:'New',
                    price:'180',
                    description:'Stack mozzarella and orange slices with basil. Drizzle with olive oil; season with salt and pepper.',
                    comment: ''
                    }
                    ]


                    ">
                    <div class="col-xs-12"><div class="padding"></div>
                        <ul class="media-list">
                            <li class="media" ng-repeat="salad in salads">
                                <div class="media-left media-middle">
                                    <a href="#" >
                                        <img class="media-object img-thumbnail"
                                             ng-src={{salad.image}} alt="salads" width="100px;">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading ">{{salad.name}}
                                        <span class="label label-danger">{{salad.label}}</span>
                                        <span class="badge">{{salad.price | currency:'&#8377;'}}</span></h4>
                                    <p>{{salad.description}}</p>
                                    <p>Comment: {{salad.comment}}</p>
                                    <p>Type your comment:
                                        <input type="text" ng-model="salad.comment"></p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div></div>
            <div role="tabpanel" class="tab-pane fade " id="veg">
                <div class="row row-content"
                     ng-init="
                   vegs=[
                    {
                    name:'Dal Makhani',
                    image: 'http://www.twistoffood.com/wp-content/uploads/2015/05/Dal-Makhani.jpg',
                    category: '',
                    label:'Hot',
                    price:'200',
                    description:'Whole urad dal, rajma, onion, tomatoes, cumin seeds, cardamoms, bay leaf, cream, butter.',
                    comment: ''
                    },
                    {
                    name:' Dal fry',
                    image: 'https://i.ytimg.com/vi/xlb8U4n6vxc/maxresdefault.jpg',
                    category: '',
                    label:'Hot',
                    price:'220',
                    description:'  Onion, tomato, green chilli, curry leaves, mustard seeds, cumin seeds. ',
                    comment: ''
                    },
                    {
                    name:'Aloo Chole',
                    image: 'https://i.ytimg.com/vi/KzZxgPMcVeY/maxresdefault.jpg',
                    category: 'mains',
                    label:'',
                    price:'180',
                    description:'tomatoes, green chilies, chopped coriander leaves, patato, pomegranate seeds, chickpeas .',
                    comment: ''
                    },
                    {
                    name:'Butter Paneer ',
                    image: 'https://i.ytimg.com/vi/f09ATkhYqL4/maxresdefault.jpg',
                    category: '',
                    label: 'New',
                    price:'300',
                    description:' Masala paneer with papper and butter vinegar, kashmiri chilli, cashew nuts, cinnamon stick. ',
                    comment: ''
                    }
                    ]


                    ">
                    <div class="col-xs-12"><div class="padding"></div>
                        <ul class="media-list">
                            <li class="media" ng-repeat="veg in vegs">
                                <div class="media-left media-middle">
                                    <a href="#" >
                                        <img class="media-object img-thumbnail"
                                             ng-src={{veg.image}} alt="veg" width="100px;">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading ">{{veg.name}}
                                        <span class="label label-danger">{{veg.label}}</span>
                                        <span class="badge">{{veg.price | currency:'&#8377;'}}</span></h4>
                                    <p>{{veg.description}}</p>
                                    <p>Comment: {{veg.comment}}</p>
                                    <p>Type your comment:
                                        <input type="text" ng-model="veg.comment"></p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade " id="nonveg">
                <div class="row row-content"
                     ng-init="
                   tandoors=[
                    {
                    name:'Chicken Tikka',
                    image: 'https://swaralisave.files.wordpress.com/2013/09/chicken-tikka.jpg',
                    category: '',
                    label:'Hot',
                    price:'250',
                    description:'combine yogurt, lemon juice, cumin, cinnamon, cayenne, black pepper, ginger, Stir in chicken.',
                    comment: ''
                    },
                    {
                    name:' Tandoori Chicken',
                    image: 'http://lovelaughmirch.com/wp-content/uploads/2015/07/TandooriKitchen2.jpg',
                    category: '',
                    label:'',
                    price:'300',
                    description:'  chicken, vegetable oil, coriander seeds, black cardamom, red chilli, ginger, garlic, yogurt, salt, lemon juice, cinnamon, black pepper, green cardamom, cumin seeds, cloves, turmeric, bay leaf.',
                    comment: ''
                    },
                    {
                    name:'Chilli Chicken',
                    image: 'http://cookdiary.net/wp-content/uploads/images/Chilli-Chicken_14100.jpg',
                    category: 'mains',
                    label:'Hot',
                    price:'280',
                    description:'tomato chunks , pepper and sliced shallots, boneless chicken,fresh mint, olive oil, ginger,cinnamon, black pepper ',
                    comment: ''
                    },
                    {
                    name:'Chicken 65 ',
                    image: 'http://cdn2.stylecraze.com/wp-content/uploads/2014/12/Kerala-Chicken-65.jpg',
                    category: '',
                    label: 'Hot',
                    price:'350',
                    description:'Indian masala Chicken curry with papper, vinegar, kashmiri chilli, ajinomotto sauce. ',
                    comment: ''
                    }
                    ]


                    ">
                    <div class="col-xs-12"><div class="padding"></div>
                        <ul class="media-list">
                            <li class="media" ng-repeat="tandoor in tandoors">
                                <div class="media-left media-middle">
                                    <a href="#" >
                                        <img class="media-object img-thumbnail"
                                             ng-src={{tandoor.image}} alt="tandoor" width="100px;">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading ">{{tandoor.name}}
                                        <span class="label label-danger">{{tandoor.label}}</span>
                                        <span class="badge">{{tandoor.price | currency:'&#8377;'}}</span></h4>
                                    <p>{{tandoor.description}}</p>
                                    <p>Comment: {{tandoor.comment}}</p>
                                    <p>Type your comment:
                                        <input type="text" ng-model="tandoor.comment"></p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade " id="dessert">
                <div class="row row-content"
                     ng-init="
                   desserts = [
                    {
                    name:'Chocolate Cake',
                    image: 'http://www.cakepicturegallery.com/d/7515-1/dessert+chocolate+cake+picture.jpg',
                    category: '',
                    label:'Hot',
                    price:'230',
                    description:'Berry chocolate cake recipe for a delicious and moist chocolate sponge cake with creamy chocolate icing.',
                    comment: ''
                    },
                    {
                    name:' Cheese Cake',
                    image: 'http://clv.h-cdn.co/assets/cm/15/09/54eb36e0c3218_-_cheesecake-no-bake-cheesecake-de.jpg',
                    category: '',
                    label:'Hot',
                    price:'250',
                    description:' rich and creamy, make-ahead cheesecake, graham cracker crumbs, unsalted butter. ',
                    comment: ''
                    },
                    {
                    name:'Brownie Pizza',
                    image: 'http://iambaker.net/wp-content/uploads/2014/07/brownie-heath-pizza.jpg',
                    category: '',
                    label:'New',
                    price:'280',
                    description:'Want to wow a chocolate-craving crowd? Make a sweet dessert pizza topped with a creamy layer and tart berries.',
                    comment: ''
                    },
                    {
                    name:' Caramel Shake',
                    image: 'https://s-media-cache-ak0.pinimg.com/564x/78/f4/2d/78f42d209c29e001df7a76e45876664e.jpg',
                    category: '',
                    label: 'New',
                    price:'300',
                    description:' Place milk, caramel syrup, and ice cream in blender container, cover, Blend until smooth and thick.. ',
                    comment: ''
                    }
                    ]">
                    <div class="col-xs-12">
                        <div class="padding"></div>
                        <ul class="media-list">
                            <li class="media" ng-repeat="desser in desserts">
                                <div class="media-left media-middle">
                                    <a href="#" >
                                        <img class="media-object img-thumbnail"
                                             ng-src={{desser.image}} alt="dessert" width="100px;">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading ">{{desser.name}}
                                        <span class="label label-danger">{{desser.label}}</span>
                                        <span class="badge">{{desser.price | currency:'&#8377;'}}</span></h4>
                                    <p>{{desser.description}}</p>
                                    <p>Comment: {{desser.comment}}</p>
                                    <p>Type your comment:
                                        <input type="text" ng-model="desser.comment"></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane fade" id="biryani">
                <div class="row row-content"
                     ng-init="
                   biryani=[
                    {
                    name:'Vegetable Biryani',
                    image: 'http://lekhafoods.com/media/2338369/vegetable-and-bean-biryani.jpg',
                    category: '',
                    label:'Hot',
                    price:'220',
                    description:'hyderabadi vegetable biryani recipe is light, a bit spiced, aromatic and deliciously yum.',
                    comment: ''
                    },
                    {
                    name:' Chicken Biryani',
                    image: 'http://ourfoodfactory.net/wp-content/uploads/2015/10/FAMILY-Biryani.jpg',
                    category: '',
                    label:'',
                    price:'320',
                    description:'  chicken, vegetable oil, coriander seeds, black cardamom, red chilli, ginger, garlic, yogurt, salt, lemon juice, cinnamon, black pepper, green cardamom, cumin seeds, cloves, turmeric, bay leaf.',
                    comment: ''
                    },
                    {
                    name:'Egg Biryani',
                    image: 'http://www.indobase.com/recipes/rec-images/andhra-egg-biryani.jpg',
                    category: 'mains',
                    label:'Hot',
                    price:'250',
                    description:'Egg, pepper, saffron, onion, yogurt, fresh mint, olive oil, ginger,cinnamon, black pepper ',
                    comment: ''
                    },
                    {
                    name:'Plain Biryani ',
                    image: 'http://www.svmgrand.com/wp-content/uploads/2015/12/plain-biryani-rice.jpg',
                    category: '',
                    label: '',
                    price:'180',
                    description:'Simple biryani with dry fruits like almonds, saffron, raisen, onion ',
                    comment: ''
                    }
                    ]


                    ">
                    <div class="col-xs-12"><div class="padding"></div>
                        <ul class="media-list">
                            <li class="media" ng-repeat="biryan in biryani">
                                <div class="media-left media-middle">
                                    <a href="#" >
                                        <img class="media-object img-thumbnail"
                                             ng-src={{biryan.image}} alt="biryani" width="100px;">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading ">{{biryan.name}}
                                        <span class="label label-danger">{{biryan.label}}</span>
                                        <span class="badge">{{biryan.price | currency:'&#8377;'}}</span></h4>
                                    <p>{{biryan.description}}</p>
                                    <p>Comment: {{biryan.comment}}</p>
                                    <p>Type your comment:
                                        <input type="text" ng-model="biryan.comment"></p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="padding">

    </div>
    <footer class="black">
        copyright
    </footer>
</body>
</html>
